<div class="section-3 relative flex  p-5 bg-gray-200 ">
	<button class="text-white bg-blue-1 hover:bg-blue-1 focus:ring-4 focus:bg-blue-1 font-bold  p-3 rounded-lg text-sm">Asociaciones</button>


	<button class="text-white bg-blue-1 hover:bg-blue-1 focus:ring-4 focus:bg-blue-1 font-bold  p-3 rounded-lg text-sm">Normas Tecnicas</button>


	<button class="text-white bg-blue-1 hover:bg-blue-1 focus:ring-4 focus:bg-blue-1 font-bold  p-3 rounded-lg text-sm">Conocenos</button>

	<img src="poster.jpeg" alt="">
</div>
